.about-content {
  display: flex;
}

.about-title {
  font-size: 25px;
  font-weight: strong;
}

img.display {
  width: 70%;
  padding-bottom: .5em;
}

.picture-info {
  padding: .5em;
  background-color: #F0F0F0;
  width: 40%;
  text-align: center;
  border: 0px;
  border-right: 1px;
  border-style: none;
  border-color: #333;
}

.icons {
  text-align: center;
}

.aboutme {
  padding: .4em;
  text-align: left;
  display: inline-block
}

.about-icon {
  padding: .25em;
}

.aboutme-content {
  font-size: 14px;
}

.skills{
  width: 100%;
  text-align: center;
}

.skill-head {
  font-size: 26px;
  padding-top: .25em;
  padding-bottom: .25em;
}

.skill-fade-line {
    display:block;
    border:none;
    color:white;
    height:1px;
    background:#333;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#333), to(#fff));
}

.skill-list {
  display: flex;
  text-align: center;
}

.skill-list-one {
  padding: 1em;
  width: 50%;
  padding-right: 3px;
}

.skill-list-two {
  padding: 1em;
  width: 50%;
}

.progress-bar {
  padding: 3px;
}

