/* Loading spinner */
.loader {
    margin: auto;
    text-align: center;
    border: 16px solid #f5f5f5; /* Light grey */
    border-top: 16px solid #627C8D; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ng-hide {
  display: none!important;
}