.navigation {
  background-color: gray;
  border: 1px;
  border-style: solid;
  border-bottom: 0px;
  height: 3em;
}

.nav-title {
  color: white;
  font-size: 20px;
  padding-left: 1em;
  position: absolute;
  text-align: left;
  line-height: 2.5;
}

.nav-buttons {
  word-spacing: 1em;
  padding-right: 5px;
  text-align: right;
}

.nav-button {
  border: 0;
  background-color: inherit;
  border-bottom: 0px;
  padding: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: white;
  cursor: pointer;
  outline: none;
  line-height: 2;
}

