<div class="about-content">
  <div class="picture-info">
    <span class="about-title">Michael Hughes<br></span>
    <img class="display" src="https://avatars3.githubusercontent.com/u/17888273?v=3&s=460"><br>
    <div class="aboutme">
      <strong>Contact Me</strong>:<br>
      <span class="aboutme-content">
        <strong>Phone</strong>: 856-449-7117<br>
        <strong>Email</strong>: mik3h89@gmail.com<br>
          <span class="about-icon"><a href="https://github.com/Hughes89" target="blank"><i title="Github" class="fa fa-github fa-2x" aria-hidden="true"></i></a></span>
          <span class="about-icon"><a href="https://linkedin.com/in/mhughesiii" target="blank"><i title="Linked In" class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></span>
      </span><br><br>
      <strong>Education</strong>:<br>
      <span class="aboutme-content">
        Hack Reactor, Advanced Software Engineering Immersive Program
      </span><br><br>
      <strong>About Me</strong>:<br>
      <span class="aboutme-content">
        I'm a full stack software engineer and graduate of Hack Reactor, an advanced software engineering immersive. With a passion in javascript I enjoy debugging problems, and expanding my knowledge of frameworks. I thrive in fast pace environments, and believe in growing as a team.
      </span>
    </div>
  </div>
  <div class="skills">
    <div class="skill-head"><strong>Skills</strong></div>
    <span class="skill-fade-line"></span>
    <div class="skill-list">
      <div class="skill-list-one">
        <div id="skill-name" ng-repeat="skill in about.skills._one">
          {{skill.name}}
          <div class="progress-bar" id={{skill.id}}></div>
        </div>
      </div>
      <div class="skill-list-two">
        <div id="skill-name" ng-repeat="skill in about.skills._two">
          {{skill.name}}
          <div class="progress-bar" id={{skill.id}}></div>
        </div>
      </div>
    </div>
    <div class="skill-head"><strong>Experience</strong></div>
    <span class="skill-fade-line"></span><br>
    <div class="experience">
      <div class="experience-content">
      <span class="bigger"><strong>Hack Reactor</strong></span>, Hacker in Residence (Fellow, Teaching Assistant)
      <ul class="experience-bullets">
        <li>Conducted technical interviews for prospective students while assessing their understanding on functional javascript techniques</li>
        <li>Operated the 'help desk', giving debugging assistance to students to expedite their learning</li>
      </ul>
      </div>
    </div>
  </div>
</div>