<div class="about-content">
  <div class="picture-info">
    <span class="about-title">Michael Hughes<br></span>
    <img class="display" src="https://avatars3.githubusercontent.com/u/17888273?v=3&s=460"><br>
    <div class="aboutme">
      <strong>Contact Me</strong>:<br>
      <span class="aboutme-content">
        <strong>Phone</strong>: 856-449-7117<br>
        <strong>Email</strong>: mik3h89@gmail.com<br>
          <span class="about-icon"><a href="https://github.com/Hughes89" target="blank"><i title="Github" class="fa fa-github fa-2x" aria-hidden="true"></i></a></span>
          <span class="about-icon"><a href="https://linkedin.com/in/mhughesiii" target="blank"><i title="Linked In" class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></span>
      </span><br><br>
      <strong>Education</strong>:<br>
      <span class="aboutme-content">
        Hack Reactor, Advanced Software Engineering Immersive Program
      </span><br><br>
      <strong>About Me</strong>:<br>
      <span class="aboutme-content">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </span>
    </div>
  </div>
  <div class="skills">
    <div class="skill-head"><strong>Skills</strong></div>
    <span class="skill-fade-line"></span>
    <div class="skill-list">
      <div class="skill-list-one">
        <div id="skill-name" ng-repeat="skill in about.skills._one">
          {{skill.name}}
          <div class="progress-bar" id={{skill.id}}></div>
        </div>
      </div>
      <div class="skill-list-two">
        <div id="skill-name" ng-repeat="skill in about.skills._two">
          {{skill.name}}
          <div class="progress-bar" id={{skill.id}}></div>
        </div>
      </div>
    </div>
  </div>
</div>